@import "tailwindcss";

@theme {
	--font-caption: "Roboto Mono Variable", monospace;
	--breakpoint-xs: 30rem;
}

:root {
	background-color: black;
	color: gainsboro;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	font-family: monospace;
	overflow-x: hidden;
}

@supports (min-height: 100dvh) {
	body {
		min-height: 100dvh;
	}
}


hr {
	border-top: 1px dotted white;
	margin-top: 16.25px;
	margin-bottom: 13px;
}

a {
	text-decoration: underline;
}

h1 {
	margin-bottom: 15px;
	font-family: var(--font-caption);
	font-weight: bold;
}

.pixelated {
	image-rendering: pixelated;
}
